@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@ViewData["Message"]</h3>*@
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript" src="~/js/facebook.js"></script>
</head>

<h1 style="text-shadow: 2px 2px 8px #000000;"> 
	BookStore is your best repository for new and vintage books alike</h1>
<p>
    We are dedicated to our clients and willing to provide the best experience, both online and offline. <br />
    Our veteran customers very appreciated, so as the newest.
    <br />
    Let us know if you require any assistance to find the most suitable book for you

</p>
        

<div class="fb-share-button" data-href="https://www.facebook.com/BookStore-484603535381557/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FBookStore-484603535381557%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>


